{% extends 'base/base.html' %}

    {% block title %}個人頁面{% endblock %}

    {% block import %}

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">

    {% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row top">
            <div class="col-5">
                <div class="profile">
                    <img src="{% static 'img/user/' %}{{ members.image }}" style="width: 180px;height: 180px;" alt="">
                </div>
                <a class="accordion">更換頭像</a>
                <div class="panel">
                    <div class="form-group">
                        <div id="rrr">
                            <label>
                                <input type="radio" name="Signup-Image">
                                <span class="round button" checked="checked">
                                    <img src="{% static 'img/user/monster-1.png' %}">
                                </span>
                            </label>
                            <label>
                                <input type="radio" name="Signup-Image">
                                <span class="round button">
                                    <img src="{% static 'img/user/monster-2.png' %}">
                                </span>
                            </label>
                            <label>
                                <input type="radio" name="Signup-Image"><span class="round button">
                                    <img src="{% static 'img/user/monster-3.png' %}">
                                </span>
                            </label>
                            <label>
                                <input type="radio" name="Signup-Image">
                                <span class="round button">
                                    <img src="{% static 'img/user/monster-4.png' %}">
                                </span>
                            </label>
                            <label>
                                <input type="radio" name="Signup-Image">
                                <span class="round button">
                                    <img src="{% static 'img/user/monster-5.png' %}">
                                </span>
                            </label>
                            <label>
                                <input type="radio" name="Signup-Image">
                                <span class="round button">
                                    <img src="{% static 'img/user/monster-6.png' %}">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="previous_page">
                    <img src="{% static 'img/topic/left_arrow.png' %}" class="img-fluid left_arrow">
                    <a href="{% url 'index' %}" type="button" class="btn">回首頁</a>
                </div>
                <div class="information">
                    <p>暱稱：{{ members.name }}</p>
                    <p>信箱：{{ members.email }}</p>
                </div>
                <a href="{% url 'change_password' members.id %}" class="change_password">更改密碼</a>
            </div>
        </div>
        <div class="row bottom">
            <div class="text">您已收藏&nbsp;<span style="color:#C23737">1</span>&nbsp;種話題</div>
            <div class="form-group">
                <p class="data" id="data">
                    <a class="taga" href="https://youtu.be/dQw4w9WgXcQ">
                        <span class="color-gray">論文</span>
                    </a>
                </p>
            </div>
            <div class="text">您已發表&nbsp;<span style="color:#C23737">{{ this_guy_post_number }}</span>&nbsp;篇文章</div> 
            <div class="form-group">
                <p class="data" id="data">
                    {% for p in post_queryset %}
                    <a class="taga" href="{% url 'article' pk=p.pk %}">
                        <span class="color-gray">{{ p }}</span>
                    </a>
                    {% endfor %}
                </p>
        
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
    
        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight - 50 + "px";
            } 
        });
        }
    </script>
{% endblock %}