{% extends 'base/base.html' %}

    {% block title %}個人頁面{% endblock %}

    {% block import %}

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">

    {% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row top">
            <div class="col-5">
                <div class="profile">
                    <img src="{% static 'img/user/' %}{{ members.image }}" style="width: 180px;height: 180px;" alt="">
                </div>
                <a class="accordion change_profile">更換頭像</a>
                <!-- <div class="change_profile">
                    更換頭像
                </div> -->
                <div class="panel">
                    <div class="form-group">
                        <div id="rrr">
                            <label><input type="radio" name="Signup-Image"><span class="round button" checked="checked"><img
                                        src="https://webstatic.mihoyo.com/upload/op-public/2021/10/03/4080f2eb748823d8c38507c3d7b69b36_936817768851375073.png"></span></label>
                            <label><input type="radio" name="Signup-Image"><span class="round button"><img
                                        src="https://webstatic.mihoyo.com/upload/op-public/2021/10/03/a103c80cb895bfdfb7496f4233b63158_8329011972047580487.png"></span></label>
                            <label><input type="radio" name="Signup-Image"><span class="round button"><img
                                        src="https://webstatic.mihoyo.com/upload/op-public/2021/10/11/320a35c423a3d8ca043d7ee14a8c7925_602536019813937911.png"></span></label>
                            <label><input type="radio" name="Signup-Image"><span class="round button"><img
                                        src="https://webstatic.mihoyo.com/upload/op-public/2021/10/09/def1f2abcfc2af0bbe2e5900a60a5ee1_5699547505742166353.png"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="previous_page">
                    <img src="{% static 'img/topic/left_arrow.png' %}" class="img-fluid left_arrow">
                    <a href="{{request.META.HTTP_REFERER}}" type="button" class="btn">回上頁</a>
                </div>
                <div class="information">
                    <p>暱稱：{{ members.name }}</p>
                    <p>信箱：{{ members.email }}</p>
                </div>
                <div class="change_password">
                    <a href="{% url 'change_password' members.id %}">更改密碼</a>
                </div>
            </div>
        </div>
        <div class="row bottom">
            <div class="text">您已收藏&nbsp;<span style="color:#C23737">1</span>&nbsp;種話題</div>
            <div class="form-group">
                <p class="data" id="data">
                    <a class="taga" href="https://youtu.be/dQw4w9WgXcQ">
                        <span class="color-gray">論文</span>
                    </a>
                </p>
            </div>
            <div class="text">您已發表&nbsp;<span style="color:#C23737">{{ this_guy_post_number }}</span>&nbsp;篇文章</div> 
            <div class="form-group">
                <p class="data" id="data">
                    {% for p in post_queryset %}
                    <a class="taga" href="https://youtu.be/dQw4w9WgXcQ">
                        <span class="color-gray">{{ p }}</span>
                    </a>
                    {% endfor %}
                </p>
        
                <!-- <input type="password" id="Signup-Image" class="form-control" required> -->
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
    
        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
        }
    </script>
{% endblock %}