{% extends 'base/base.html' %}

{% block title %}炎管家詳細說明{% endblock %}

{% block import %}

{% load static%}
<link rel="stylesheet" href="{% static 'css/rule/rule.css' %}">

{% endblock %}

{% block main %}
    <div class="container" style="display: flex; align-items: center; height: 173px;">
        <div class="title text-center">
            炎管家詳細說明
        </div>
        
    </div>
    <div class="container">
        <!-- <div class="jumbotron"> -->
            <div class="form-group">
                <h2 class="fire_subtitle">炎管家</h2>
                <hr class="my-4">
                當本網站的用戶進入網站首頁，熱門話題以視覺化呈現，讓用戶快速掌握每日焦點。
                <br><br>
                炎管家的「炎」取自於日語「炎上」，原意指猛烈燃燒現象，後來在網路上演變成某一話題、事件意外引起爭議成為輿論事件，因此取「炎」代表著大家時下關注的話題，而「管家」有將熱門話題收集統整之意。
                <br><br>
                炎管家是個能自訂暱稱與頭像，同時支援將現下流行話題依照熱門程度呈現的功能。您可以使用炎管家與志趣相投的人暢談，共享專業領域資訊。
                <br><br>
                除了現下流行話題外，炎管家主要的是社群功能，用戶可以透過網站瀏覽、發文、回應他人文章(依照不同話題分成不同的討論版)。
                <br><br>

                <h2 class="fire_subtitle">全站規範</h2>
                <h4>於網站發言時請遵守全站站規，一起保持舒適的討論空間。</h4>
                <hr class="my-4">
                違反全站規範的貼文，管理員將會刪文並審核該用戶
                <br><br>
                1. 禁止人身攻擊、謾罵、引戰、洗板、鬧板、挑釁、釣魚等行為。
                <br><br>
                2. 禁止任何性騷擾、18禁、過激、明顯令人不適、噁心、血腥以及個人隱私問題。
                <br><br>
                3. 禁止張貼各類商業廣告。
                <br><br>
                4. 嚴禁惡意刷洗貼文，影響他人瀏覽。
                <br><br>
                5. 大家peace and love。
                <br><br>
                違反全站規範的用戶，經管理員警告後，屢勸不聽，炎管家團隊將保留帳號最終解釋權。
            </div>
        <!-- </div> -->
    </div>
{% endblock %}