/* 回上頁 跟 發文*/
.post_page{
    margin-left: 453px;
    margin-right: 20px;
    /* position: absolute;
    right: 516px;
    top: 75px; */
}
.previous_page{
    /* position: absolute;
    right: 330px;
    top: 75px; */
}
.post_page .btn,.previous_page .btn{
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;
    background-color: #C23737;
    font-size: 23px;
    padding-left: 65px;
    border-radius: 1rem;
}
.post_page .btn:hover,.previous_page .btn:hover{
    background-color: #9a2a2a;
}
.left_arrow{
    position: absolute;
    margin: 6px 15px;
    width: 40px;
}
/* 看板 */
.board{
    font-family: 'Noto Sans TC', sans-serif;
    color: #70605D;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: 3px solid #f5e2d7;
    border-radius: 2.0rem;
    width: 1000px;
    height: 73px;
    padding: 12px 26px;
}
.row a:hover{
    text-decoration: none;
}
.topic{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    color:#504848;
    width: fit-content;
    /* position: absolute;
    left: 285px;
    top: 75px; */
}
.author{
    margin-right: 16px;
    padding: 10px;
    font-size: 1.5rem;
    background: #E37878;
    color: #fff;
    border-radius: 10px;
}
.date{
    float: right;
}

/* 頁數兩旁的三角形 icon */
.next_triangle{
    width: 0;
    height: 0;
    margin-top: 8px;
    border-style: solid;
    border-width: 22px 0 22px 30px;
    border-color: transparent transparent transparent #c23737;
    border-radius: 6px;
}
.previous_triangle{
    width: 0;
    height: 0;
    margin-top: 8px;
    border-style: solid;
    border-width: 22px 30px 22px 0;
    border-color: transparent #c23737 transparent transparent;
    border-radius: 6px;
}
.page{
    margin: 12px 18px 0 18px;
    font-size: 1.5rem;
}