.red_btn{
    font-family: 'Noto Serif TC', serif;
}
.red_btn:hover {
    background-color: #C23737;
}
/* 回上頁 */
.previous_page{
    margin-left: 478px
    /* position: absolute;
    right: 462px;
    top: 100px; */
}
.previous_page .btn{
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;
    background-color: #C23737;
    font-size: 23px;
    padding-left: 65px;
    border-radius: 1rem;
}
.previous_page .btn:hover{
    background-color: #9a2a2a;
}
.left_arrow{
    position: absolute;
    margin: 6px 15px;
    width: 40px;
}
.topic{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    color:#504848;
    width: fit-content;
}
/* 表單 */
form{
    max-width: 645px;
    margin: auto;
}
label{
    font-family: 'Noto Sans TC', sans-serif;
}
/* ckeditor */
/* .django-ckeditor-widget{
    width: 637px;
} */