<div class="main" id="app">
    <div class="filter">
        <span id="Display_Now" style="float: left;">[[ msg ]]</span>
        <span class="pointer" @click="getYear()">年</span> /
        <span class="pointer" @click="getMonth()">月</span> /
        <span class="pointer" @click="getDay()">日</span> 
    </div>

    <div class="cloud-one shadow bg-white">
        <a v-bind:href="[[ topicList[0].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[0].name ]]</a>
    </div>

    <div class="cloud-two shadow bg-white">
        <a v-bind:href="[[ topicList[1].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[1].name ]]</a>
    </div>

    <div class="cloud-three shadow bg-white">
        <a v-bind:href="[[ topicList[2].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[2].name ]]</a>
    </div>

    <div class="cloud-four shadow bg-white">
        <a v-bind:href="[[ topicList[3].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[3].name ]]</a>
    </div>

    <div class="cloud-five shadow bg-white">
        <a v-bind:href="[[ topicList[4].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[4].name ]]</a>
    </div>

    <div class="cloud-six shadow bg-white">
        <a v-bind:href="[[ topicList[5].link ]]" target="_blank" rel="noopener noreferrer">[[ topicList[5].name ]]</a>
    </div>
</div>

<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    let filterVue = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            search: "",
            msg: "今日熱門關鍵字",
            topicList: [],
        },
        mounted: function () {
            axios.post("{% url 'apigetdblist' 'day' %}")
                .then((response) => {
                    let getdata = response.data;
                    console.log(getdata[0]);
                    // for(let i = 0; i < 6; i++){
                    //     console.log(getdata[i].name);
                    //     this.topicList.push(getdata[i].name);
                    // }
                    this.topicList = getdata;
                    // console.log(this.topicList);
                })
                .catch((error) => console.log(error));
        },
        methods: {
            getYear() {
                var date = new Date();
                var year = date.getFullYear();
                // document.getElementById('Display_Now').innerHTML = "本年（" + year +  "）的熱門關鍵字"
                this.msg = year +  " 年的熱門關鍵字！";

                axios.post("{% url 'apigetdblist' 'year' %}")
                    .then((response) => {
                        let getdata = response.data;
                        console.log(getdata[0]);
                        this.topicList = getdata;
                    })
                    .catch((error) => console.log(error));
            },
            getMonth() {
                var date = new Date();
                var month = date.getMonth()+1;
                this.msg = "今年 " + month +  " 月的熱門關鍵字！";

                axios.post("{% url 'apigetdblist' 'month' %}")
                    .then((response) => {
                        let getdata = response.data;
                        console.log(getdata[0]);
                        this.topicList = getdata;
                    })
                    .catch((error) => console.log(error));
            },
            getDay(){
                var date = new Date();
                var day = date.getDate();
                var month = date.getMonth()+1;
                this.msg = "今日 " + month + "/" + day +  " 的熱門關鍵字！";

                axios.post("{% url 'apigetdblist' 'day' %}")
                .then((response) => {
                    let getdata = response.data;
                    this.topicList = getdata;
                })
                .catch((error) => console.log(error));
            },
            // setTopicList(top_six){
            //     for(let i = 0; i < this.topicList.length; i++){
            //         console.log(this.topicList[i])
            //         this.topicList[i] = top_six
            //     }
            //     return this.topicList
                
            // }
        }
    })
</script>