<div class="main">
    <div class="filter">
        年/月/日
    </div>

    <div class="cloud-one shadow bg-white">
        {{ ptt.0 }}
    </div>
    <div class="cloud-two shadow bg-white">
        {{ ptt.1 }}
    </div>
    <div class="cloud-three shadow bg-white">
        {{ ptt.2 }}
    </div>
    <div class="cloud-four shadow bg-white">
        {{ ptt.3 }}
    </div>
    <div class="cloud-five shadow bg-white">
        {{ ptt.4 }}
    </div>
    <div class="cloud-six shadow bg-white">
        {{ ptt.5 }}
    </div>
</div>