{% extends 'base/base.html' %}

    {% block title %}所有文章{% endblock %}

    {% block import %}

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/all/all.css' %}">

    {% endblock %}

{% block main %}
    <div class="top" style="height: 180px;">
        <div class="topic">
            話題：{{ topic }}
        </div>
        <div class="post_page">
            <img src="{% static 'img/topic/plus.png' %}" class="img-fluid left_arrow">
            <a href="{% url 'post' topic=topic %}" type="button" class="btn btn-danger">發&nbsp;&nbsp;&nbsp;文</a>
        </div>
        <div class="previous_page">
            <img src="{% static 'img/topic/left_arrow.png' %}" class="img-fluid left_arrow">
            <a href="{% url 'topic' %}" type="button" class="btn btn-danger">回主題</a>
        </div>
    </div>
    <div class="container">
        {% for p in post %}
        <div class="row" style="padding:10px 0px; margin-bottom: 10px;">
            <a href="{% url 'article' pk=p.pk %}">
                <div class="board shadow">
                    {{ p.title }}
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- <div class="row row-three" style="padding:20px 0px">
            <ul class="pagination">
                {% for i in post.paginator.page_range %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}"></a>
                </li>
                {% endfor %}
            </ul>
        </div> -->
        <!-- 參考 https://ithelp.ithome.com.tw/articles/10196973 -->
    </div>
{% endblock %}