{% extends 'base/base.html' %}

    {% block title %}所有文章{% endblock %}

    {% block import %}

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/all/all.css' %}">

    {% endblock %}

{% block main %}
    <div class="container" style="height: 134px; display: flex; padding-top: 28px; padding-left: 90px;">

        <div class="topic">
            話題：{{ topic }}
        </div>
        <div class="home">
            <a href="{% url 'index' %}" type="button" class="btn btn-danger">回首頁</a>
        </div>
        <div class="post_page">
            <img src="{% static 'img/topic/plus.png' %}" class="img-fluid left_arrow">
            <a href="{% url 'post' topic=topic %}" type="button" class="btn btn-danger">發&nbsp;&nbsp;&nbsp;文</a>
        </div>

        <div class="previous_page">
            <img src="{% static 'img/topic/left_arrow.png' %}" class="img-fluid left_arrow">
            <a href="{% url 'topic' %}" type="button" class="btn btn-danger">回主題</a>
        </div>

    </div>

    <div class="container" style="height:600px; justify-content: center; display: grid;">

        {% for p in post %}
        <div class="row">
            <a href="{% url 'article' pk=p.pk %}">
                <div class="board shadow">
                    <span class="badge author">{{ p.author }}</span>
                    {{ p.title }}
                    <span class="date">| &nbsp; {{ p.created_date }}</span>
                </div>
            </a>
        </div>
        {% endfor %}

        {% if post %}
        <div class="row row-three" style="justify-content: center; position: relative;">
            <ul class="pagination" style="position: absolute; bottom: 0;">
                <li class="page-item">
                    <a href="{% if post.has_previous %} ?page={{ post.previous_page_number }} {% endif %}"><div class="previous_triangle"></div></a>
                </li>
                <span class="page">
                    {% for i in post.paginator.page_range %}
                        {% if i == post.number %} 
                            {{ i }}
                        {% endif %}
                    {% endfor %}
                    / {{ post.paginator.num_pages }}
                </span>
                
                <li class="page-item">
                    <a href="{% if post.has_next %} ?page={{ post.next_page_number }} {% endif %}"><div class="next_triangle"></div></a>
                </li>
            </ul>
        </div>
        {% endif %}
        <!-- 參考 https://ithelp.ithome.com.tw/articles/10196973 -->
    </div>
{% endblock %}