{% extends 'base/base.html' %}

{% block title %}話題{% endblock %}

{% block import %}

{% load static%}
<!-- 放css連結 -->
<link rel="stylesheet" href="{% static 'css/change_password/change_password.css' %}">

{% endblock %}


{% block main %}
    <div class="container-fluid">
        <div class="title text-center">修改密碼</div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="New_Login-Password">新密碼</label>
                <input type="password" id="New_Login_Password" name="password" class="form-control" pattern="(a-zA-Z0-9])\w{8,}" required>
            </div>
            <div class="form-group">
                <label for="Confirm">再次輸入</label>
                <input type="password" id="Confirm" class="form-control" required>
            </div>
            <input type="submit" id="submit" class="btn btn-danger red_btn" onclick="check()" name="submit" value="送出" style="margin-left: 58%; color: #ffffff;"></input>
        </form>
    </div>


<script>
    function check(){
        var newPassword = document.getElementById("New_Login_Password").value;
        var confirm = document.getElementById("Confirm").value;

        if(newPassword == confirm){
            console.log(newPassword)
            console.log(confirm)
            window.alert("更換密碼成功，請重新登入！");
        }
        else{
            window.alert("密碼輸入不一致");
            document.getElementById("submit").disabled = true;
            location.reload();
        }
    }
</script>
{% endblock %}