/* 註冊表單 */
.form-group{
    margin: 1.5rem 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.form-group label{
    width: 9%;
    font-size: 1.5rem;
}
.form-group input{
    width: 20%;
}
/* 標題 */
.title{
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 2.5rem;
    font-family: 'Noto Sans TC', sans-serif;
    color:#504848;
}